html{
    font-family: sans-serif;
}
table{
    border: 2px solid lightgrey;
    border-collapse: collapse;
    table-layout: fixed;
}
tr,
th,
td{
    border: 1px solid lightgrey;
    border-collapse: collapse;
    padding: 3px 5px;
    }
.col4,
.col5{
    border: 2px solid gray ;
    background-color: lightgrey;
}
.total{
    text-align: center;
}
h3{
    margin: 0;
}
caption{
    font-size: 1em;
    caption-side: bottom;
    padding: 20px;
}