*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    width: 100%;
    height: 90vh;
}
.page .menu{
    padding: 30px 20px;
}
.page .menu a{
    position: relative;
    margin-left: 35px;
    padding-bottom: 2px;
    left: 23%;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(8, 53, 188);
    font-size: 14px;
    font-weight: 600;
}
.page .menu .GetStarted{
    left: 30%;

}
.page .menu .SignIn{
    left: 50%;
}
.page .menu .tri{
    position: absolute;
    width: 1.8%;
    height: 3vh;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border: 1px solid rgb(26, 63, 173);
    border-radius: 3px;
    background-color: rgb(26, 67, 189);
    left: 8%;
    top: 3.2%;
}
.page .menu .cri{
    position: absolute;
    border: 3px solid rgb(26, 67, 189);
    border-radius: 50%;
    width: 1.5%;
    height: 3%;
    left: 8.9%;
    top: 4.4%;
}
.page .menu .line{
    position: absolute;
    border: 0.2px solid rgb(199, 197, 197);
    width: 0%;
    height: 2.5vh;
    left: 53.5%;
    top: 4.4%;

}
.page .menu h4{
    position: absolute;
    left: 11%;
    top: 3.8%;
    font-size: 25px;
    font-style: sans-serif;
    color:  rgb(7, 48, 171);
}
.page .menu img{
    position: absolute;
    padding: 8.5px;
    width: 2.2%;
    height: 4%;
    left: 92%;
    top: 3.8%;
    border-radius: 50%;
}
.page .menu a:hover{
    border-bottom: 2px solid rgb(16, 69, 227);
}

.page .menu img:hover{
    cursor: pointer;
    box-shadow: 0px 10px 20px 0px rgb(0,0,0,0.2);
}
.page img{
    position: absolute;
    width: 35%;
    right: 3%;
}
.page .heading{
        position: absolute;
        left: 8%;
        font-family: sans-serif;
        font-size: 55px;
        top: 17%;
        color:  rgb(7, 48, 171);
}
.page .sub{
    position: absolute;
    left: 8%;
    top: 37%;
    color: rgb(7, 48, 171);;
}
.page .bar{
    position: absolute;
    border: 2px solid royalblue;
    background: linear-gradient(90deg, rgba(3,216,242,1) 0%, rgba(14,107,196,1) 47%, rgba(3,32,145,1) 100%);
    width: 6%;
    height: 0.9vh;
    left: 8%;
    top: 45%;
}
.page p{
    position: absolute;
    font-family: sans-serif;
    font-size: 22px;
    padding: 6px;
    color: royalblue;
    top: 51%;
    left: 8%;
}
.page .btn1,.btn2{
        position:absolute;
        width: 8%;
        height: 6%;
        top: 70%;
        left: 8%;
        padding: 20px,30px;
        border-radius: 15px;
        background: linear-gradient(90deg, rgba(3,216,242,1) 0%, rgba(14,107,196,1) 47%, rgba(3,32,145,1) 100%);
}
.btn2{
    width: 9.5%;
    left: 18%;
   border: 2px solid rgb(14, 54, 176);
    background: none;
}
.page .fb{
    position: absolute;
    width: 0.9%;
    height: 2.2%;
    left: 8%;
    top: 86.8%;
}
.page .insta{
    position: absolute;
    width: 0.9%;
    height: 2%;
    left: 10.2%;
    top: 87%;
}
.page .twt{
    position: absolute;
    width: 1%;
    height: 2.2%;
    left: 12.5%;
    top: 87%;
}
