@media(max-width:1024px){

}
@media(max-width:991px){
    #new{
        display: none;
    }
   
}
@media(max-width:767px){
    #home h1{
        font-size: 3.7rem;
        text-align: center;
    }
    #home .btn1{
        margin-left: 30%;
    }
    #trending .btn2{
        width: 45%;
        margin-left: 25%;
    }
    #Organic .btn{
        width: 30%;
        margin-left: 35%;
    }
    .apple h1,
    .apple h5{
        text-align: center;
    }
    .apple .btn{
        width: 45%;
        margin-left: 25%;
    }
    .contact .container .text{
        text-align: center;
    }
    .contact input{
        margin-top: 5px;
    }
    .footer{
        text-align: center;
    }
    .footer input{
        width: 80%;
    }
  
}
@media (max-width:330px){

}