*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 245, 235);
}
.page .heading{
    position: absolute;
    top: 12%;
    left: 16%;
    font-size: 45px;
    font-family: sans-serif;
}
.page .sub{
    position: absolute;
    top: 28%;
    left: 16%;
    font-size: 14px;
    font-family: sans-serif;
    border-bottom: 2.2px solid rgb(240, 200, 200);
}
.img{
    position: absolute;
    width: 35%;
    height: 65%;
    top: 35%;
    left: 14%;
}
.page .name,.company,.phone,.email,.help,.services{
    position: absolute;
    right: 32.2%;
    top: 15%;
    font-size: 13px;
    font-weight: lighter;
    font-family: sans-serif;
}
.page .Type,.com,.phn,.add,.des{
    position: absolute;
    padding: 5px 5px;
    width: 25%;
    right: 10%;
    top: 18%;
    border: none;
    background: none;
    font-family: sans-serif;
    border-bottom: 2px solid lightgray;
}
.company{
    top: 25%;
    right: 31%;
}
.com{
    top: 28%;
}
.phone{
    top: 35%;
}
.phn{
    top: 38%;
}
.email{
    top: 44.8%;
    right: 29.2%;
}
.add{
    top: 48%;
}
.help{
    top: 54.8%;
    right: 27.8%;
}
.des{
    top: 58.5%;
}
.services{
    top: 65%;
    right: 31.5%;
}
.check1,.check2,.check3,.check4,.check5,.check6{
    position: absolute;
    top: 69.5%;
    right: 34%;
}
.check2{
    top: 73%;
}
.check3{
    top: 76.2%;
}
.check4{
    right: 23%;
}
.check5{
    top: 73%;
    right: 23%;
}
.check6{
    top: 76.2%;
    right: 23%;
}
.paid,.digital,.mail,.content,.strategy,.other{
    position: absolute;
    top: 69.5%;
    right: 30%;
    font-weight: lighter;
    font-family: sans-serif;
}
.digital{
    top: 73%;
    right: 27.8%;
}
.mail{
    top: 76.2%;
    right: 31.8%;
}
.content{
    right: 17.5%;
}
.strategy{
    top: 73%;
    right: 15.7%;
}
.other{
    top: 76.2%;
    right: 20.8%;
}
.btn{
    position: absolute;
    width: 8%;
    height: 5.5%;
    top: 81.5%;
    right: 27%;
    background-color: rgb(237, 62, 32);
    color: white;
    border-radius: 4px;
    border: none;
}
.btn:hover{
    cursor: pointer;
}